root{
--color-primario: #121212;
--color-bg-input:rgba(196,196,196,0.3);
--color-parrafo: #594f43;
--fuente-principal: 'Work Sans', sans-serif;
--fuente-secundaria:"Eczar", serif;
}

html{
    box-sizing: border-box;
}

*,*::before,
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.containe {
    max-width: 1728px;
    width: 100%;
    margin:0 auto;
}

/*i{
    color:#4d5566;
    font-size:200px
}

/*Corte 2: Desarrollado por Yannick Patrick: Testimonials, About, Forms y Footer*/